body {
	
	font-family: 'Helvetica Neue';
	margin: 80px 180px;
	max-width: 1100px;


}




h1 {
	font-size: 40px;
	font-weight: 700;
	margin-top: 8px;
	margin-bottom: 16px;
}


h2 {
	font-size: 24px;
	font-weight: 500;

}

h3 {
	font-size: 16px;
	font-weight: 200;
	margin-top: 0;
	line-height: 1.2;
}

p {
	font-size: 12px;
	font-weight: 400;

}


.page_header {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid black;
}


.page_header h3 {
	margin-left: auto;
	margin-bottom: 8px;
}

.map{
	padding-top: 80px;
}



path.SA2_ancestry {
	
	stroke: none;
	
}



path.SA2_ancestry:hover {
	fill: purple;
	stroke: white;
	stroke-width:  1.5px;

	
}

text.area_label {
	fill:  #4EA66D;
	opacity: .5;
	text-transform: uppercase;
	font-style: italic;
	text-anchor: middle;
	font-size: 12px;



}	


text.point_label {
	fill:  #000;
	text-anchor: middle;
	font-size: 12px;

}	





.circle {
	fill:  #F25C05;
	stroke:  #4EA66D;
	stroke-width:  1px;
}

