body {

    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 80px 180px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;


}



.following_section {
    margin-top: 232px;
}

h1 {
    font-size: 40px;

    margin-top: 8px;
    margin-bottom: 16px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;

}


h2 {
    font-size: 24px;
    font-weight: 500;

}

h3 {
    font-size: 16px;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 14px;
    font-weight: 400;

}






.page_header h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
}


.page_header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}


.page_header h3 {
    margin-left: auto;
    margin-bottom: 8px;
}


.viz_holder {
    display: flex;
    flex-direction: row;
    max-width:  1200px;
}


.viz_holder_property {
    
    max-width:  1000px;
}



.map_holder {
    width: 50%;
}

.table_holder {
    width: 30%;
    /*background-color: red;*/

}


.table_holder text{
	font-size: 12px;
	font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
}

text.table_header, text.table_content{
	text-anchor: middle;
}

text.table_header{
	font-weight: 400;
}

path.SA2_ancestry {

    stroke: none;

}



text.area_label {
    fill: #4EA66D;
    opacity: .5;
    text-transform: uppercase;
    font-style: italic;
    text-anchor: middle;
    font-size: 12px;



}


path.SA2_map_no_hover {
fill: #B5D8DD;
stroke:  white;
stroke-width: .5px;

}

circle.location_circle {
	/*fill: #8F7D17;*/
	opacity: .7;
}



circle.location_circle:hover {
	/*fill: #E04721;*/
	opacity: 1;
    stroke: white;
}


path.SA2_map {
stroke:  white;
stroke-width: .5px;
}

path.SA4_map {
    stroke: #8CA7AB;
    opacity: .5;
    stroke-width: 2px;
    fill: none;
}

text.SA4_label {
    fill: #58555A;
    text-anchor: middle;
    font-size: 8px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 200;
}



path.SA2_map:hover {
    fill: #031D94;
    stroke: white;
    stroke-width: 2px;


}


.svg_sa,
.svg_viet, .svg_location {
    position: relative;
}

.tooltip_viet,
.tooltip_sa, .tooltip_property {
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    /*border: 1px solid #ddd;*/
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;

}



.tooltip_sa2, .tooltip_address {
    margin-bottom: 0.2em;
    font-size: 12px;
    text-transform: uppercase;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;

}

.tooltip_value{
    font-size: 12px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
}
.tooltip_partner{
    padding-bottom: 5px;
    font-size: 14px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
}



text.legendTitle,
{
    font-size: 24px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    font-style: normal;

}



text.label {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
}

