:root {
    --dark_blue: #022E57;
    --light_blue: #005A8D;
    --pink: #FF96AD;
    --light_pink: #FFF5FD;

}


body {

    font-family: 'eskorte-latin', sans-serif;
    font-size: 16px;
    background-color: var(--light_pink);
    color: var(--dark_blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    text-align: center;

}

h1 {
    font-size: 80px;
    font-weight: 800;
    font-family: 'eskorte-latin', sans-serif;
    font-style: italic;
    border-bottom: 1px solid var(--dark_blue);
}

h2 {
    font-size: 24px;
    font-family: 'eskorte-latin', sans-serif;
    font-weight: 400;

}

ul.intro {
    list-style: none;
    padding: 0;
}

ul.intro li {
    border-bottom: 1px solid var(--dark_blue);

}

ul.intro li:last-child {
    border-bottom: none;
}


ul.intro li:last-child {
    border-bottom: none;
}


p {
    font-family: franklin-gothic-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;

}

ul.intro p {

    width: 200px;


}

ul.week {
    list-style: none;
    padding: 0;
}

.week_wrap {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 48px;


}

.week_wrap ul.week {
    padding: 0 48px;
    border-right: 1px solid var(--dark_blue);
    margin-top: 0;
}

.week_wrap ul.week:last-child {
    padding: 0 48px;
    border-right:none;
    margin-top: 0;
}

.week_wrap ul.week h2 {
    font-size: 24px;
    font-weight: 800;
    font-family: 'eskorte-latin', sans-serif;
    font-style: italic;

}

.week_wrap ul.week p {

    color: var(--pink);
    text-align: left;
    text-decoration: line-through;
    padding-bottom: 5px;
}

.week_wrap ul.week p.completed {

    color: var(--dark_blue);
    text-decoration: none;
    font-weight: 500;
    padding-bottom: none;
}

.week_wrap ul.week a{
    text-decoration: none;    
}

.week_wrap ul.week a p.completed:hover{
    border-bottom: 1px solid var(--dark_blue);    
}

