:root {
    --dark_blue: #464660;
    --light_pink: #F1E9E5;
    --green: #368B85;
    --olive: #B4B897;

}


body {

    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--light_pink);
    background-color: var(--dark_blue);
    margin: 1px 56px;

}

h1 {
    font-size: 56px;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: none;
}

h2 {
    font-size: 48px;
}

h3 {
    font-family: jaf-lapture-display, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    margin-top: 120px;
}

h4 {
    font-weight: 300;

}

p {
    font-size: 20px;
}


.navbar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0;

}

nav {

   display: flex; 

}




