body {

    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;

}


.page {
    width: 21cm;
    height: 29.7cm;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2cm;
    padding-top: 2cm;
    padding-right: 2cm;
    padding-bottom: 2cm;
    display: flex;
    flex-direction: column;

}

h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-top: 8px;
}



h2 {
    font-size: 18px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
}


h3 {
    font-size: 18px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    
    font-style: normal;
}


h4 {
    font-size: 16px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    margin-bottom: 12px;
}


p {
    font-size: 12px;
    font-weight: 400;

}


a {
    text-decoration: none;
    color: black;
}


a:hover {
    color: #00717F;
    border-bottom: 1px solid #00717F;

}


.page_header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}


footer {
    flex-direction: row;
    border-bottom: 1px solid black;
    flex:  1;

}

.main_header{
    width: 100%;
}

.page_header h3 {
    margin-left: auto;
    margin-bottom: 8px;
}






.top_row_page_one {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.top_row_page_two {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.text_column {
    width: 25%;
    align-items: flex-end;

}



.text_column_full_width {
    width: 100%;
    align-items: flex-end;

}


text.seven_hills_label,
text.c_hill_label {
    fill: black;
    font-size: 12px;
}




text.seven_hills_label {
    text-anchor: end;
}

text.c_hill_label {
    text-anchor: middle;

}


text.SA4_area_label {
    fill: darkgrey;
    text-anchor: middle;
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 5px;
    font-weight: 200;

}

text.SA4_area_label_small, 
text.SA2_area_label_small, 
 {
    fill: black;
    text-anchor: middle;
    font-size: 10px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 5px;
    font-weight: 200;

}


text.SA4_choropleth_small_label {
    fill: black;
    text-anchor: middle;
    font-size: 10px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 5px;
    font-weight: 500;
    /*font-family: neue-haas-grotesk-text, sans-serif;*/

}


text.SA3_area_label {
    fill: black;
    text-anchor: middle;
    font-size: 10px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 200;

}

text.SA3_area_label_light {
    fill: darkgrey;
    text-anchor: middle;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 200;
    /*font-size: 28px;*/
}

text.SA3_area_label_small {
    fill: black;
    text-anchor: middle;
    font-size: 8px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 200;

}


path.SA4_background {
    stroke: white;
    stroke-width: 3.5px;
    fill: none;
}

path.SA3_background {
    stroke: white;
    stroke-width: 2px;
    fill: none;
}

path.SA2_background {
    stroke: white;
    stroke-width: .5px;
    opacity: .9;
}

path.SA2_background_toongabbie {
    stroke: white;
    stroke-width: 3px;
    /*opacity:  0;*/
}

path.SA3_dwelling_map {
    stroke: white;
    stroke-width: 2px;

}


text{
    font-family: neue-haas-grotesk-display, sans-serif;
}

text.sa3_name,
text.dwelling_num {
    font-size: 12px;

}

text.dwelling_num {
    text-anchor: middle;
    /*font-size: 12px;*/
    font-weight: 400;

}

.second_row {
    width: 100%;

}

.chart_holder {
    width: 100%;
    display: flex;
    flex-direction: row;


}

.toongabbie_SDA_table {
    width: 30%;
}

.toongabbie_SDA_design_chart {
    width: 70%;
}

.small_mult_head {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 9px;
    text-anchor: start;
}

.small_mult_head_larger {
    font-size: 12px;
}


.xAxis_small_multiple path{
    stroke:  none;
}


.small_multiple_bar_label {
    font-size:  9px;
}

.ndis_number_map, 
.sda_number_map,
.sda_seeking,
.sda_design_seek {
    width:  50%;
}


text.inside_bar_label {
    fill: white;
    font-size: 12px;
    font-family: neue-haas-grotesk-display, sans-serif;
}

/*page two*/

.chart_row{
    display:  flex;
    /*flex_direction: column;*/
}

.half_square {
    width:  50%;
    margin-right: 24px;
}


.full_square {
    width:  100%;
    margin-right: 24px;
    margin-bottom: 32px;
}


.full_square p {
    margin-top: 32px  ;
}
/*.ndis_number_map_holder, .sda_number_map_holder {
    width:  50%;
    margin-right: 24px;
}
*/
.half_square p{
    margin-right: 24px;
}


/*.ndis_number_map_holder p, .sda_number_map_holder p{
    margin-right: 24px;
}
*/
.chart_row_indent {
    margin-left: 24px ;
}


text.sda_seek {
    font-size: 14px;
    text-anchor: middle;
    font-family: neue-haas-grotesk-display, sans-serif;
}



text.hospital_point_label, 
text.education_point_label,
text.train_point_label{
 text-transform: capitalize;   
    font-size: 10px;
    text-anchor:  middle;
}


 

.circle_train {
    fill:  #0388A6;
    /*opacity:  0.8;*/
}

.circle_hospital {
    fill:  #D91807;
    /*opacity:  0.8;*/
}

.circle_education {
    fill:  #D9AC25;
    /*opacity:  0.8;*/
}

.circle_school {
    fill:  #A2A629;
    /*opacity:  0.8;*/
}

.legendText{
    font-size: 12px;
}

line.average_line {
    stroke:  #FA9D55;
    stroke-width:  3px;
}

text.legendTitle, text.label {
    font-size: 12px;
}

.bar_rect{
    fill:  #00717F;
}

sup{
    font-size: 10px;
}